In [4]:
# ctrl+enter no new cell will be added

print("HELLO WORLD")

HELLO WORLD

### PYTHON BASICS

###  VARIABLES

It is an identifier which holdes a value

Python is case sensitive

Identifier does not have Numbering OR special characters as first character(20,@,!)

In [7]:
a=10
b=4.1
print(a)
print(b)

10
4.1

In [11]:
c="true"
print(type(c))

<class 'str'>

In [26]:
name,age,div="Russell",21,'12C'
print(name,age,div)
print('NAME\t',name)
print('age\t',age)
print('div\t',div)

bool1=True
print(type(bool1))

print('NAME\t'+name,'\tAGE\t',age,'\tDIV\t'+div)

Russell 21 12C
NAME	 Russell
age	 21
div	 12C
<class 'bool'>
NAME	Russell 	AGE	 21 	DIV	12C

### DATA TYPES

      1)INTEGER
          10,34,75...
      2)FLOAT
          4.3,5.6,3.14
      3)STRING
          ALPHABETS/CHARACTERS enclosed with ('',"","""  """)
          
      TO PRINT STRING
              print('   ',variable)
              
         IN PANDAS STRING IS DENOTED AS OBJECTS
         
         IMP QUESTION
         
         WHAT ARE DATA TYPES IN PYTHON

In [31]:
a=10
b=a #shallow copy

# iMP interview question
    # what is shallow copy?
    
    
print(b)

b=64
print(b)

a="CAT"

print(a)

print(type(a))

10
64
CAT
<class 'str'>

In [36]:
# TYPE INFERENCING IS DONE AUTOMATICALLY
a=3
b=3.4
print(a+b)
c=a+b

print(type(c))

6.4
<class 'float'>

### TYPES OF FUNCTION

 FUNCTION is construct of programming
     function logic: logic used to make the function
     function call: for using that function
     
         
         function_name()
         
         TYPES OF FUNCTIONS
         
        1) built in function:
                print(),type(),len(),input()
                
         2)user defined function:
                 MADE BY USER
               
            3)lambda function  :
            anornimus/temperary function

### BUILD-IN FUNCTION

In [7]:
name=input('ENTER YOUR NAME:')
age=int(input('ENTER YOUR AGE:'))
salary=float(input('ENTER YOuR SALARY'))


print('NAME IS\t',name)
print('AGE IS \t',age)
print('SALARY IS \t',salary)


print(type(age))
print(type(salary))

ENTER YOUR NAME:sdfxc
ENTER YOUR AGE:345
ENTER YOuR SALARY345654.34
NAME IS	 sdfxc
AGE IS 	 345
SALARY IS 	 345654.34
<class 'int'>
<class 'float'>

In [10]:
num1=float(input('ENTER first number\t'))
num2=float(input('ENTER second number\t'))
print('SUM OF NUMBER IS\t',num1+num2)

ENTER first number	345
ENTER second number	432
SUM OF NUMBER IS	 777.0

In [14]:
num1=input(float())
num2=input(float())
print(num1+num2)

0.01.0
0.01.0
1.01.0

In [24]:
num1=int(float(input('FIRST NUM\n')))
num2=float(int(input('SECOND NUM\n')))
print('PRODUCT IS \n',num1*num2)

print('type of num1 is\t',type(num1))
print('type of num2 is\t',type(num2))

FIRST NUM
234.34
SECOND NUM
123421
PRODUCT IS
 28880514.0
type of num1 is	 <class 'int'>
type of num2 is	 <class 'float'>

In [26]:
# with help of build in function multiply two number number should be intrger

num1=int(input('FIRST NUM\n'))
num2=int(input('SECOND NUM\n'))
print('PRODUCT IS \n',num1*num2)

FIRST NUM
12
SECOND NUM
432
PRODUCT IS
 5184

In [30]:
#THE INPUT VALUE SHOULD BE FLOAT IN NATURE AND HAVE TO FIND DIFFERENCE BETWEEN TWO VARIABLES

num1=float(input('FIRST NUMBER\n'))
num2=float(input('SECOND NUMBER\n'))
print('DIFFERENCE IS \n',num1-num2)

FIRST NUMBER
12
SECOND NUMBER
1
DIFFERENCE IS
 11.0

In [33]:
# CHECK TYPE OF 20 is equal to type of '20'
a=20
b='20'

print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

### USER DEFINED FUNCTION

In [1]:
def cube(a):
    print('value of a:',a)
    print('CUBE OF GIVEN NUMBER IS'a*a*a)

In [3]:
cube(float(input('ENTER THE NUMBER')))

ENTER THE NUMBER21
value of a: 21.0
9261.0

In [2]:
def cube(a):
    print('NUMBER ENTERED IS:\n',a)
    c=a*a*a
    print('CUBE IS\n',c)
    return(c)

In [22]:
cube(float(input('ENTER THE NUMBER\n')))

ENTER THE NUMBER
34
NUMBER ENTERED IS:
 34.0
CUBE IS
 39304.0

39304.0

In [6]:
c=cube(20.0)

sum1= 100.0 + c
print('NUMBER IS\n',sum1)

NUMBER ENTERED IS:
 20.0
CUBE IS
 8000.0
NUMBER IS
 8100.0

In [24]:
# FUNCTION CALL
val=float(input('ENTER THE NUMBER:'))
cube(val)

ENTER THE NUMBER:2
NUMBER ENTERED IS:
 2.0
CUBE IS
 8.0

8.0

In [5]:
# FUNCTION CALL
val=float(input('ENTER THE NUMBER:'))
# cube(val)
round(cube(val),3)

ENTER THE NUMBER:20.00000000000003224
NUMBER ENTERED IS:
 20.000000000000032
CUBE IS
 8000.000000000039

8000.0

### PARAMETER FUNCTION

In [13]:
# PARAMETER FUNCTION

def add(a,b):
    print('VALUE IS:',a,'+',b)
    return a+b

In [14]:
add(3,3)

VALUE IS: 3 + 3

6

In [23]:
# WRITE an user defined function for adding three numbers

def add1(a,b,c):
    print('VALUE IS:',a,'+',b,'+',c)
    return a+b+c

In [24]:
add1(3,3,3)

VALUE IS: 3 + 3 + 3

9

In [29]:
# TWO SUBSTRACT VALUE

def sub(a,b):
    print('VALUE IS:',a,'-',b)
    return a-b

In [31]:
sub(3,2)

VALUE IS: 3 - 2

1

### PARAMETER LESS FUNCTION

In [38]:
def hi():
    print("HELLO USER!")
    a=23
    b=54
    return(a+b)

In [39]:
hi()

HELLO USER!

77

In [51]:
def evenodd():
    num=int(input("ENTER THE NUMBER"))
    if num%2==0:
        print('NUMBER IS EVEN')
    else:
        print('NUMBER IS ODD')

In [53]:
evenodd()

ENTER THE NUMBER567894567805432
NUMBER IS EVEN

OPERATORS:
OPERATORS ARE USE TO PERFORM OPERATIONS ON VARIABLES AND VALUES

In [54]:
# ASSIGNMENT OPERATORS

name="RUSSELL"
age=21
city='NASHIK'

In [1]:
# ARITHMETIC OPERATOR

a=float(input('ENTER THE FIRST NUMBER'))
b=float(input('ENTER THE SECOND NUMBER'))

a+b
b-a
a*b
b/a
b//a #floore division
a**b  #Power EXPONENTIAL
a%b  # MODULUS::REMIANDER

ENTER THE FIRST NUMBER2
ENTER THE SECOND NUMBER32

2.0

In [2]:
# IF A=10 and B=14 perform operations using all arithmetic operators

a=10
b=12
print(a+b)
print(a-b)
print(a/b)
print(a//b)
print(a*b)
print(a**b)
print(a%b)

22
-2
0.8333333333333334
0
120
1000000000000
10

In [13]:
# RELATIONAL OPERATOR (BOOLEAN) gives in true or false


# >
# <
# >=
# <=
# ==
# !=

print(3>2)
print(3<2)
print(3>=2)
print(3<=2)
print(3==2)
print(3!=2)

print(len('mango')==len('sjdskdhjsnd'))
print(len('mango')>len('sjdskdhjsnd'))
print(len('mango')<len('sjdskdhjsnd'))
print(len('mango')>=len('sjdskdhjsnd'))
print(len('mango')<=len('sjdskdhjsnd'))
print(len('mango')!=len('sjdskdhjsnd'))
print(len('mango'))


a=input("ENTER THE FIRST WORD\t")
b=input("ENTER THE SECOND WORD\t")

if len(a)>len(b):
    print("FIRST WORD IS GREATER")
    
else:
    print("SECOND WORD IS GREATER")

True
False
True
False
False
True
False
False
True
False
True
True
5
ENTER THE FIRST WORD		s
ENTER THE SECOND WORD	dsa
SECOND WORD IS GREATER

In [17]:
# LOGICAL OPERATORS AND(&) OR(|)

a= True
b= False

print('a and b is',a & b)
print('a OR b is',a | b)

a and b is False
a OR b is True

### CONDITIONAL STATEMENTS

        1) if else
        
            SYNTAX
                if condition :
                    statement
                 else :
                     statement
                     
        2) nested if else

In [22]:
x=int(input('ENTER THE VALUE OF X\t'))
y=int(input('ENTER THE VALUE OF Y\t'))

if x>y:
    print(x ,'is greater than ',y)
else:2
    print(y,' is greater than ',x)

ENTER THE VALUE OF X	23
ENTER THE VALUE OF Y	32
32  is greater than  23

In [24]:
x=int(input('ENTER YOUR SCORE\t'))


if x>40:
    print('YOU ARE SELECTED')
else:
    print('TRY AGAIN')

ENTER YOUR SCORE	23
TRY AGAIN

In [32]:
# with input function make age variable is age is greater than 21 you are eligible to apply licence you cant


age=int(input("ENTER YOUR AGE\t"))
if age>=21:
    print("YOU ARE ELIGIBLE TO APPLY FOR A LICENCE")
else:
    print('YOU ARE NOT ELIGIBLE\n TRY AGAIN AFTER',21-age,'YEARS')

ENTER YOUR AGE	20
YOU ARE NOT ELIGIBLE
 TRY AGAIN AFTER 1 YEARS

In [4]:
#  Nested if else


a=input("ENTER THE FIRST WORD\t")
b=input("ENTER THE SECOND WORD\t")

print("\n*************START****************\n")
if len(a)>len(b):
    print(a," HAS GREATER LENGTH")
else:
    if len(a)==len(b):
        print(a,"AND",b," HAVE SAME LENGTH")
    
    else:
        print(b," HAS GREATER LENGTH")
print("\n***********DONE****************")

ENTER THE FIRST WORD	dfg
ENTER THE SECOND WORD	fds

*************START****************

dfg AND fds  HAVE SAME LENGTH

***********DONE****************

In [5]:
# if elif ladder

marks=int(input("ENTER YOUR MARKS\t"))
if marks>100:
    print("INVALID ANSWER\t",marks)
elif marks>=90:
    print("A GRADE\t")
elif marks>=80:
    print("B GRADE\t")
elif marks>=70:
    print("C GRADE\t")
elif marks>=60:
    print("D GRADE\n")
elif marks>=40:
    print("E GRADE\n NEEDS IMPROVEMENT")
else:
    print("FAIL\nTRY HARDER")

ENTER YOUR MARKS	34
FAIL
TRY HARDER

# LOOPS

    Loops are programmable construct which are used and executed with multiple values

    1)While: conditional loop
        it will run until it is true
    2)For: Iteraative loop
        it will iterate to all the points
            traverses to all elements in the data

# WHILE LOOP

In [27]:
# WHILE LOOP
count=int(input('enter a number less than 5\t')) 
#count=0     #initializer is important
if count>5:
    print("ERROR")
else:
    while(count<5):
        count=count+1  #pre increment
        print(count)
  #  count=count+1   #post increment

enter a number less than 5	2
3
4
5

In [5]:
count=0
while(count<10):
    print(count)
    count+=1
else:
    print('count value has reached \t',count)

0
1
2
3
4
5
6
7
8
9
count value has reached 	 10

In [4]:
# higher to lower while loop
count=100
a=int(input("******SELECT AN OPTION******\n1)pre increment\n2)post increment\n"))
if a==1:
    while(count>=50):
        count-=1
        print(count)
elif a==2:
    while(count>=50):
        print(count)
        count-=1
else:
    print("ERROR")

******SELECT AN OPTION******
1)pre increment
2)post increment
1
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49

In [10]:
count=100
while(count>=50):
   # print(count)
    if count%2==0:
        print("EVEN NUMBER \t",count)
    else:
        print("ODD NUMBER \t",count)
    count-=1

EVEN NUMBER 	 100
ODD NUMBER 	 99
EVEN NUMBER 	 98
ODD NUMBER 	 97
EVEN NUMBER 	 96
ODD NUMBER 	 95
EVEN NUMBER 	 94
ODD NUMBER 	 93
EVEN NUMBER 	 92
ODD NUMBER 	 91
EVEN NUMBER 	 90
ODD NUMBER 	 89
EVEN NUMBER 	 88
ODD NUMBER 	 87
EVEN NUMBER 	 86
ODD NUMBER 	 85
EVEN NUMBER 	 84
ODD NUMBER 	 83
EVEN NUMBER 	 82
ODD NUMBER 	 81
EVEN NUMBER 	 80
ODD NUMBER 	 79
EVEN NUMBER 	 78
ODD NUMBER 	 77
EVEN NUMBER 	 76
ODD NUMBER 	 75
EVEN NUMBER 	 74
ODD NUMBER 	 73
EVEN NUMBER 	 72
ODD NUMBER 	 71
EVEN NUMBER 	 70
ODD NUMBER 	 69
EVEN NUMBER 	 68
ODD NUMBER 	 67
EVEN NUMBER 	 66
ODD NUMBER 	 65
EVEN NUMBER 	 64
ODD NUMBER 	 63
EVEN NUMBER 	 62
ODD NUMBER 	 61
EVEN NUMBER 	 60
ODD NUMBER 	 59
EVEN NUMBER 	 58
ODD NUMBER 	 57
EVEN NUMBER 	 56
ODD NUMBER 	 55
EVEN NUMBER 	 54
ODD NUMBER 	 53
EVEN NUMBER 	 52
ODD NUMBER 	 51
EVEN NUMBER 	 50

# FOR LOOP

In [20]:
friends =['A','B','C',3.6]
for f in friends:
    print('Happy Diwali',f)
# printing in reverse
for f in friends[:-1]:
    print('Happy Diwali',f)

Happy Diwali A
Happy Diwali B
Happy Diwali C
Happy Diwali 3.6
Happy Diwali A
Happy Diwali B
Happy Diwali C

In [29]:
#FOR LOOP IS EVEN ODD COUNTER CONDITION

mylist=[1,23,53,67,425,2465,26,24]
even=0
odd=0
for i in mylist:
    if i%2==0:
        even+=1
    else:
        odd+=1
print("THERE ARE ",even,"  EVEN NUMBERS")
print("THERE ARE ",odd,"  ODD NUMBERS")

THERE ARE  2   EVEN NUMBERS
THERE ARE  6   ODD NUMBERS

In [35]:
i=1
table=int(input("ENTER THE NUMBER\t"))
print("TABLE OF\t",table)
while(i<=10):
    print(table,"*",i,"=",table*i)
    i+=1

ENTER THE NUMBER	14
TABLE OF	 14
14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140

In [1]:
for i in range(1,11):
    print("5*",i,"=",5*i)

5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50

### DATA STRUCTURES


1) NUMBERS:int,float,complex


2) STRING:  stores values and characters enclosed in " ",' ',""" """
            slicling and indexing is possible
            python supports zero indexing
            it has forward and backwards indexing
            negataive indexing starts with -1
            for indexing we use [a:b]
            start is inclusive and end value is exclusive in string
            
            
3) LISTS: 
    MIXED DATATYPES 
    ordered manner 
    enclosed in [] 
    mutable
    support indexing

In [40]:
# NUMBERS
print(int(2.45))
print(float(5))
a=2.45
b=int(a)
c=chr(99)  #ASCII VALUE
print(c)

2
5.0
c

In [13]:
import math

In [18]:
print(math.sqrt(4))
print(math.floor(10.7))
print(math.factorial(6))
print(math.pow(2,3))
print(round(math.pi,2))
print(math.pi)

2.0
10
720
8.0
3.14
3.141592653589793

In [21]:
import random as rand

In [41]:
print(rand.random())
print(rand.randint(1,100))
print(rand.uniform(50,100))
a=[1,2,3,4,5]
print(rand.choice(a))

0.27269808567197074
26
86.49124163110079
4

### STRING

In [48]:
letter='russell'
print(letter)
print(len(letter))
b="HELLO WORLD"
print(b)
print(len(b))
c="""sjdhfkfncmcmccmdkd mslskf;fbwui;egfiyg     vybyfvbgyfbak ighngndjda"""
print(c)
print(len(c))

russell
7
HELLO WORLD
11
sjdhfkfncmcmccmdkd mslskf;fbwui;egfiyg     vybyfvbgyfbak ighngndjda
67

In [53]:
# CONCATINATION
f_name="russell"
l_name="das"
full_name=f_name+" "+l_name
print("FIRST NAME",f_name,"\tLAST NAME",l_name,"\nFULL NAME ",full_name)

FIRST NAME russell 	LAST NAME das
FULL NAME  russell das

In [61]:
#STRING REPLICATION
print("PYTHON\t"*5)

PYTHON	PYTHON	PYTHON	PYTHON	PYTHON

### ESCAPE SEQUENCES

\n

\t

\

'

"

In [78]:
print('I AM LEARning python\' what are you learning\'')
print("this is backslash symbol \\")

I AM LEARning python' what are you learning'
this is backslash symbol \

In [91]:
f_name="RUSSELL"
l_name="DAS"
city="NASHIK"
print('I LIVE iN\t',city,'I am ',f_name,l_name)
formated_string='I live {} I am {} {} '.format(city,l_name,f_name)
print(formated_string)

a=12
b=43
print('{} + {} = {}'.format(a,b,a+b))
print('{} - {} = {}'.format(a,b,a-b))
print('{} * {} = {}'.format(a,b,a*b))
print('{} / {} = {}'.format(a,b,a/b))
print('{} // {} = {}'.format(a,b,a//b))

I LIVE iN	 NASHIK I am  RUSSELL DAS
I live NASHIK I am DAS RUSSELL
12 + 43 = 55
12 - 43 = -31
12 * 43 = 516
12 / 43 = 0.27906976744186046
12 // 43 = 0

In [99]:
# SLICING AND INDEXING

language='PYTHON'
print(language[0])
print(language[3])
print(language[:-1])

P
H
PYTHO

In [105]:
s="PROGRAMMING LANGUAGE"
print(s[4:6])
print(s[:9])
print(s[-14:-4])
print(s[:6])
print(s[::2])
print(s[:5])
print(s[:])
print(s[:])
print(s[::-1])  #REVERSING A STRING

RA
PROGRAMMI
MMING LANG
PROGRA
PORMIGLNUG
PROGR
PROGRAMMING LANGUAGE
PROGRAMMING LANGUAGE
EGAUGNAL GNIMMARGORP

In [110]:
# skipping
s="PROGRAMMING LANGUAGE"

print(s[0:8:1])

PROGRAMM

In [114]:
# STRING METHODS

#capital="beginning of python"
capital=input()
print(capital.count('n'))

sd
0

In [115]:
capital=input()
print(capital.count('n'))
print(capital.count('g',3,10))

dfgggsnnn
3

In [123]:
#alpha numeric
capital=input()
print(capital.isalnum())

sddfgkhhjhg5edfgy76
True

In [125]:
capital=input()
print(capital.islower())

sdfghhgfdsa
True

In [127]:
capital=input()
print(capital.isupper())

SDFGHTE
True

In [130]:
capital="I LOVE CODEING IN JAVA"
print(capital)
print(capital.replace('JAVA','PYTHON'))

I LOVE CODEING IN JAVA
I LOVE CODEING IN PYTHON

In [134]:
print(len(capital))

22

In [139]:
capital=input()
print(capital.lower())

YDIYDGOFEUFPOELFEYWD
ydiydgofeufpoelfeywd

In [1]:
capital=input()
print(capital.upper())

ertyuio
ERTYUIO

### LIST

In [12]:
list1=[]
list2=[1,2,3,'russell','pious','python',list1]
print(list1)
print(list2)
print(list2[3])
print(list2[1:5])
print(list2[::-1])

[]
[1, 2, 3, 'russell', 'pious', 'python', []]
russell
[2, 3, 'russell', 'pious']
[[], 'python', 'pious', 'russell', 3, 2, 1]

In [17]:
# ADDING PYTHON LIST
l1=['a','b','d']
l2=['q','w','h']
l3=l1+l2
print(l3)

['a', 'b', 'd', 'q', 'w', 'h']

In [19]:
# UPDATING LIST

data=[1,2,3,45,'d','dsa']
print(data)

data[3]=4
print(data)

[1, 2, 3, 45, 'd', 'dsa']
[1, 2, 3, 4, 'd', 'dsa']

In [21]:
data1=[1,2,3,4,5,6,7,89,5,'sjd']
print(data1)

data1[4]='change'
print(data1)

[1, 2, 3, 4, 5, 6, 7, 89, 5, 'sjd']
[1, 2, 3, 4, 'change', 6, 7, 89, 5, 'sjd']

In [29]:
# APPEND

list1=['a','s','d','f']
print(list1)

list1.append(1.5)
list1.append('r')
print(list1)

# EXTEND
list1.extend([3,4,5,6,78,'a'])
list1.extend("AUSTIN")
list1.append("SAM")
print(list1)

['a', 's', 'd', 'f']
['a', 's', 'd', 'f', 1.5, 'r']
['a', 's', 'd', 'f', 1.5, 'r', 3, 4, 5, 6, 78, 'a', 'A', 'U', 'S', 'T', 'I', 'N', 'SAM']

In [33]:
# DELETING ELEMENTS

print(list1)
del(list1[12:])
print(list1)

['a', 's', 'd', 'f', 1.5, 'r', 3, 4, 5, 6, 78, 'a']
['a', 's', 'd', 'f', 1.5, 'r', 3, 4, 5, 6, 78, 'a']

In [45]:
my_l=[34,6,'io',8,15,'u','w','t','z','an',80]

#del first 3 elements from the list
del(my_l[0:4])
print(my_l)
#UPDATE THE t element by value=45
my_l[3]=45
print(my_l)
# ADD LIST 
list3=[6,89,'i',46]
listn=my_l+list3
print(listn)
my_l.append(45)
print(my_l)
my_l.append("LANGUAGE")
print(my_l)

[15, 'u', 'w', 't', 'z', 'an', 80]
[15, 'u', 'w', 45, 'z', 'an', 80]
[15, 'u', 'w', 45, 'z', 'an', 80, 6, 89, 'i', 46]
[15, 'u', 'w', 45, 'z', 'an', 80, 45]
[15, 'u', 'w', 45, 'z', 'an', 80, 45, 'LANGUAGE']

In [55]:
# count()
print(my_l)

print(my_l.count(15))

list1=['g','d','o']
print(max(list1))
list1.extend('23')
print(list1)

[15, 'u', 'w', 45, 'z', 'an', 80, 45, 'LANGUAGE']
1
o
['g', 'd', 'o', '2', '3']

In [58]:
# Index()
print(list1.index('o'))

2

In [62]:
# insert()
list1.insert(3,"JAVA")
print(list1)

['g', 'd', 'o', 'JAVA', 'JAVA', 'JAVA', 'JAVA', '2', '3']

In [65]:
# pop()

list1.pop(3)
print(list1)

['g', 'd', 'o', 'JAVA', '2', '3']

In [72]:
# sort()

l=[345,321,456,7654,12,567,88,35]
print(l)
l.sort(reverse=True)# DESC True AESC False
print(l)

[345, 321, 456, 7654, 12, 567, 88, 35]
[7654, 567, 456, 345, 321, 88, 35, 12]

In [74]:
list1=[1,2,3,4,5,6]
list2=[]
for x in list1:
    num=x*5
    list2.append(num)
print(list2)

[5, 10, 15, 20, 25, 30]

In [1]:
list1=[69,494,29,59]
list2=[]
for x in list1:
    num=x**2
    list2.append(num)
print(list2)

[4761, 244036, 841, 3481]

### TUPLES
A tuples is a colliction of data type which is ordered and unchangeable (immutable).Tuples are written with round brackets().Once a tuple is created we cannot change its values.We cannot use add,insert,remove methods in tuple.
->Mixed Data type
->Stored in ()
->immutable
->least used data types
->Ordered in Nature

In [3]:
name=("A","B","C","D")
print(name)

('A', 'B', 'C', 'D')

In [5]:
a=(4,)
print(a)
print(type(a))

(4,)
<class 'tuple'>

In [8]:
# Tuple length
a=('c','s',4,2,5,0,5,3,[8,5,9],(4,5),'y',3)
print(len(a))
print(type(a))

12
<class 'tuple'>

In [16]:
# Accessing Tuple Items
a=(4,5,6,7,8,9)
print(a[0])
print(a[2:4])
print(a[:-4])
print(a[-3:-1])

4
(6, 7)
(4, 5)
(7, 8)

In [27]:
t=(19,56,'am',66,7,'fh','yih',99,57,'d','8')

print(t[4])
print(t[2:5])
print(t[-6:-1])
print(t[::-1])  # REVERSING OF TUPPLES
print(t[3:8:2])

7
('am', 66, 7)
('fh', 'yih', 99, 57, 'd')
('8', 'd', 57, 99, 'yih', 'fh', 7, 66, 'am', 56, 19)
(66, 'fh', 99)

In [29]:
# ADDITION OF TUPLES
t1=(4,7,5)
t2=("a","d","g")

t3=t1+t2
print(t3)

# ONLY SAME DATA TYPE CAN CONCATINATE WITH EACH OTHER

(4, 7, 5, 'a', 'd', 'g')

In [35]:
# Replicating tuples

t1=(1,2,3,4,5,6)
print(t1*3)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [41]:
# UPDATING Tuples
# TO UPDATE A TUPLE WE HAVE TO FIRST CONVERT IT TO A LIST
t1=(1,2,3,4,5,6,7,8,9,3567)
l1=list(t1)
l1.append(0)
print(l1)
print(type(l1))
t1=tuple(l1)
print(t1)
print(type(t1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 3567, 0]
<class 'list'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 3567, 0)
<class 'tuple'>

In [45]:
# Deleting tuple elements
t=(1,2,3,4,5,6)
print(t)
del t

(1, 2, 3, 4, 5, 6)

In [50]:
# Built in tuples function

# Length
print(len(t1))

# Maximum
print(max(t1))

# Minimum
print(min(t1))

# converting list into  tuple ::> tuple()

11
3567
0

### SETS

     -> Mixed Data types
    -> Does not support duplicate values
    -> stored in {}
    -> they are randomly ordered
    -> Does not support indexing
    -> union,intersection,difference

In [53]:
s1={1,2,3,4,5,6,7,8,9,10}
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [61]:
s1={1,2,1,'HELLO',(2,2,3),(1,4,1)}
print(s1)

s2={1,3,1,3,4.4}
print(s2)

s3={3,5,6,7,3,6}
print(s3)

{(2, 2, 3), 1, 2, 'HELLO', (1, 4, 1)}
{1, 3, 4.4}
{3, 5, 6, 7}

In [72]:
# ADDING elements
s1={1,2,3,4,5,6,7}
print(s1)

s1.add(8) #single values
print(s1)

s1.update((6,67,8,5,1))  # adding multiple values
print(s1)

s1.remove(67)
print(s1)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 67}
{1, 2, 3, 4, 5, 6, 7, 8}

In [73]:
s={45,9,6,90,45,8,'4647',6,45,89,35,21}

s.add(23)
s.add(1)
s.update((12,7,45,9,0,4))
s.remove(45)
print(s)

{0, 1, 35, 4, 6, 7, 8, 9, 12, '4647', 21, 23, 89, 90}

In [74]:
# HOW TO REMOVE MULTIPLE ELEMENTS
a=[2,3]
print(s1)
for i in a:
    s1.remove(i)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 4, 5, 6, 7, 8}

In [75]:
a=[6,90,89,21]
print(s)
for i in a:
    s.remove(i)
print(s)

{0, 1, 35, 4, 6, 7, 8, 9, 12, '4647', 21, 23, 89, 90}
{0, 1, 35, 4, 7, 8, 9, 12, '4647', 23}

In [86]:
# UNION
a=[1,2,3,4,5]
b=[2,4,6,8,0]

s1=set(a)
s2=set(b)

print(s1 | s2)
print(s1.union(s2))



# INTERSECTION
print(s1 & s2)
print(s1.intersection(s2))



# DIFFERENCE
print(s1-s2)
print(s1.difference(s2))

print(s2-s1)
print(s2.difference(s1))

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}
{2, 4}
{2, 4}
{1, 3, 5}
{1, 3, 5}
{0, 8, 6}
{0, 8, 6}

In [87]:
s1={56,78,4,56,23,67,89,34,23}
s2={33,4,23,56,8,9,12,35,14}

print(s1.union(s2))

print(s2.intersection(s1))

print(s1.difference(s2))

{67, 4, 8, 9, 12, 78, 14, 23, 89, 33, 34, 35, 56}
{56, 4, 23}
{89, 34, 67, 78}

In [91]:
l1=[34,45,23,89,5,67,34,56]
l2=[67,98,7,67,45,23,56]


s1=set(l1)
s2=set(l2)

print(s1)
print(s2)


s1.update((6,15,82))
s2.update((7,9,33))


print(s1)
print(s2)

a=[45,56]
for i in a:
    s2.remove(i)

    print(s2)
    
    
print(s1.union(s2))

print(s2.intersection(s1))

print(s2.difference(s1))

{34, 67, 5, 45, 23, 56, 89}
{98, 67, 7, 45, 23, 56}
{34, 67, 5, 6, 45, 15, 82, 23, 56, 89}
{33, 98, 67, 7, 9, 45, 23, 56}
{33, 98, 67, 7, 9, 23, 56}
{33, 98, 67, 7, 9, 23}
{33, 34, 67, 98, 5, 6, 7, 9, 45, 15, 82, 23, 56, 89}
{67, 23}
{33, 98, 9, 7}

### DICTIONARIES

 The data stored is in key value pair
 key is unique where as values are duplicate
 it is stored  as {k:v}
             where k: key  v:value
             
 dictionary are mutable 
 key indexing
 
stores data in a proper defined way

In [95]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(type(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
<class 'dict'>

In [101]:
d1={
    "name":["Russell","pious","pearl"],
    "ID":[1,2,3],
    "Marks":[39,0,34],
    "random":[2,8,9]
}
print(d1)
print(d1["name"])
print(d1["name"][0])

{'name': ['Russell', 'pious', 'pearl'], 'ID': [1, 2, 3], 'Marks': [39, 0, 34], 'random': [2, 8, 9]}
['Russell', 'pious', 'pearl']
Russell

In [102]:
import pandas as pd

In [103]:
df=pd.DataFrame(d1)
print(df)

      name  ID  Marks  random
0  Russell   1     39       2
1    pious   2      0       8
2    pearl   3     34       9

In [112]:
d={
    "name":"russell",
    "Age":20,
}
print(d)
d["Age"]=21
print(d)
d['Address']='Mumbai'
print(d)
d['Location']='Dadar'
d

{'name': 'russell', 'Age': 20}
{'name': 'russell', 'Age': 21}
{'name': 'russell', 'Age': 21, 'Address': 'Mumbai'}

{'name': 'russell', 'Age': 21, 'Address': 'Mumbai', 'Location': 'Dadar'}

In [113]:
del d['Location']
print(d)

{'name': 'russell', 'Age': 21, 'Address': 'Mumbai'}

In [115]:
d1["name"][2]="Samson"
d1

{'name': ['Russell', 'pious', 'Samson'],
 'ID': [1, 2, 3],
 'Marks': [39, 0, 34],
 'random': [2, 8, 9]}

In [118]:
d1.values()

dict_values([['Russell', 'pious', 'Samson'], [1, 2, 3], [39, 0, 34], [2, 8, 9]])

In [120]:
d.keys()

dict_keys(['name', 'Age', 'Address'])

In [148]:
d={
    "customerId":[1,2,3,4,5] ,
    "customer name":['A','S','d','f','g'] ,
    "location":['NASHIK','MUMBAI','TOKYO','MADRAS','NEW YORK'] ,
    "age": [21,34,21,45,32],
    
}
d
df=pd.DataFrame(d)
df

   customerId customer name  location  age
0           1             A    NASHIK   21
1           2             S    MUMBAI   34
2           3             d     TOKYO   21
3           4             f    MADRAS   45
4           5             g  NEW YORK   32

In [149]:
d["location"][4]="USA"
d

{'customerId': [1, 2, 3, 4, 5],
 'customer name': ['A', 'S', 'd', 'f', 'g'],
 'location': ['NASHIK', 'MUMBAI', 'TOKYO', 'MADRAS', 'USA'],
 'age': [21, 34, 21, 45, 32]}

In [150]:
d['customer name'][0]="Alex"
d

{'customerId': [1, 2, 3, 4, 5],
 'customer name': ['Alex', 'S', 'd', 'f', 'g'],
 'location': ['NASHIK', 'MUMBAI', 'TOKYO', 'MADRAS', 'USA'],
 'age': [21, 34, 21, 45, 32]}

In [151]:
d['contact no']=[1,2,3,4,5]
d

{'customerId': [1, 2, 3, 4, 5],
 'customer name': ['Alex', 'S', 'd', 'f', 'g'],
 'location': ['NASHIK', 'MUMBAI', 'TOKYO', 'MADRAS', 'USA'],
 'age': [21, 34, 21, 45, 32],
 'contact no': [1, 2, 3, 4, 5]}

In [152]:
del d['age']
d

{'customerId': [1, 2, 3, 4, 5],
 'customer name': ['Alex', 'S', 'd', 'f', 'g'],
 'location': ['NASHIK', 'MUMBAI', 'TOKYO', 'MADRAS', 'USA'],
 'contact no': [1, 2, 3, 4, 5]}

In [1]:
# zip
a=[1,2,3,4,5]
b=(2,4,6,8,10)
c=[1,3,5,7,9]

d=tuple(zip(a,b,c))
print(d)


d=list(zip(a,b,c))
print(d)

((1, 2, 1), (2, 4, 3), (3, 6, 5), (4, 8, 7), (5, 10, 9))
[(1, 2, 1), (2, 4, 3), (3, 6, 5), (4, 8, 7), (5, 10, 9)]

### List Comprehension

In [3]:
flowers=["lotus","rose","lily","iris"]
mylist=[]

mylist.extend(flowers)
print(mylist)

['lotus', 'rose', 'lily', 'iris']

In [9]:
flowers=["lotus","rose","lily","iris"]
mylist=[]

for x in flowers:
    mylist.append(x)
    print(mylist)
print(mylist)

['lotus']
['lotus', 'rose']
['lotus', 'rose', 'lily']
['lotus', 'rose', 'lily', 'iris']
['lotus', 'rose', 'lily', 'iris']

In [12]:
# mylist={expression for item in iteration}

flowers=["lotus","rose","lily","iris"]
mylist=[x for x in flowers]
print(mylist)

['lotus', 'rose', 'lily', 'iris']

In [14]:
flowers=["lotus","rose","lily","iris"]
mylist=[]
for x in flowers:
    if "i" in x:
        mylist.append(x)
print(mylist)

['lily', 'iris']

In [16]:
# mylist=[expression for item in iterable if condition == True]

flowers=["lotus","rose","lily","iris"]
mylist=[x for x in flowers if "i" in x]
print(mylist)

['lily', 'iris']

In [18]:
mylist=[x for x in range(10)]
print(mylist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
mylist=[x for x in range(10) if x<=5]
print(mylist)

[0, 1, 2, 3, 4, 5]

In [21]:
mylist=[x.upper() for x in flowers]
print(mylist)

['LOTUS', 'ROSE', 'LILY', 'IRIS']

In [22]:
sen="the rocket came back from mars"
vowels=[i for i in sen if i in 'aeiou']
print(vowels)

['e', 'o', 'e', 'a', 'e', 'a', 'o', 'a']

In [23]:
mylist=[x if x !="rose"else "sunflower" for x in flowers]
print(mylist)

['lotus', 'sunflower', 'lily', 'iris']

In [27]:
mylist=[x for x in range(101) if x%2!=0]
print(mylist)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [30]:
mylist=[x for x in range(2,101) if x%2==0]
print(mylist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [33]:
mylist=[print(x,"is even") if x%2==0 else print(x,"is odd") for x in range(1,101) ]

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
21 is odd
22 is even
23 is odd
24 is even
25 is odd
26 is even
27 is odd
28 is even
29 is odd
30 is even
31 is odd
32 is even
33 is odd
34 is even
35 is odd
36 is even
37 is odd
38 is even
39 is odd
40 is even
41 is odd
42 is even
43 is odd
44 is even
45 is odd
46 is even
47 is odd
48 is even
49 is odd
50 is even
51 is odd
52 is even
53 is odd
54 is even
55 is odd
56 is even
57 is odd
58 is even
59 is odd
60 is even
61 is odd
62 is even
63 is odd
64 is even
65 is odd
66 is even
67 is odd
68 is even
69 is odd
70 is even
71 is odd
72 is even
73 is odd
74 is even
75 is odd
76 is even
77 is odd
78 is even
79 is odd
80 is even
81 is odd
82 is even
83 is odd
84 is even
85 is odd
86 is even
87 is odd
88 is even
89 is odd
90 is even
91 is odd
92 is even
93 is odd
94 is even
95 is odd
96 is even
97 is odd
98 is even
99 is odd
100 is even

In [39]:
l1="skfkskd smjdjadjj autoc"
l2=[i for i in l1 if i in 'aeiou']
print(l2)

['a', 'a', 'u', 'o']

### LAMBDA

In [ ]:
# anornimus,nameless,short range, temporary function

In [41]:
def double(x):
    return x*2

In [42]:
x=int(input("ENTER a number"))
double(x)

ENTER a number10

20

In [47]:
double=lambda x:x*2
x=int(input("ENTER a number\t"))
double(x)

ENTER a number	12

24

In [49]:
age=[10,14,24,12,45,21,19,35,3]
adult=list(filter(lambda x:x>18, age))
print(adult)

[24, 45, 21, 19, 345]

In [61]:
l1=[1,2,3,4,5,6,7,8,9]
l2=list(filter(lambda x:(x%2==0), l1))
print(l2)
l2=list(map(lambda x:(x%2==0), l1))
print(l2)

[2, 4, 6, 8]
[False, True, False, True, False, True, False, True, False]

In [52]:
l1=[1,2,3,4,5,6,7,8,9]
l2=list(filter(lambda x:(x%2!=0), l1))
print(l2)

[1, 3, 5, 7, 9]

In [53]:
letters=list(map(lambda x:x,'python'))
print(letters)

['p', 'y', 't', 'h', 'o', 'n']

In [57]:
l1=[1,2,3,4,5,6,7,8,9]
l2=list(map(lambda x:x*2, l1))
print(l2)

[2, 4, 6, 8, 10, 12, 14, 16, 18]